*{ margin: 0; padding: 0;}

body {
	overflow: hidden;
}

#background {
    position: relative;
}

/*Time to finalise the cloud shape*/
.bg_landscape {
	width: 100%; height:380px;
	background-image: url(farBG1.png);
/*    z-index: -1;*/
/*    position: absolute;*/
}
.bg_water {
	width: 100%; height:500px;
	background-image: url(water2.png);
/*    z-index: -1;*/
    position: absolute;
}

.x1 {
	-webkit-animation: backgroundScroll 40s linear infinite;
	-moz-animation: backgroundScroll 40s linear infinite;
	-o-animation: backgroundScroll 40s linear infinite;
}

.x2 {
	-webkit-animation: waterScroll 25s linear infinite;
	-moz-animation: waterScroll 25s linear infinite;
	-o-animation: waterScroll 25s linear infinite;
}

 
@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -1024px 0;}
}
 
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -1024px 0;}
}
 
@-webkit-keyframes waterScroll {
from {background-position: 0 0;}
to {background-position: -971px 0;}
}
 
@keyframes waterScroll {
from {background-position: 0 0;}
to {background-position: -971px 0;}
}



.lilypads{
    width: 100%;
    height: 200px;
    position: relative;
/*    height: auto;*/
/*    overflow: hidden;*/
}

.lilypad {
    max-width: 150px;
    float: left;
}

.lilypad img{
/*position: absolute;*/

max-height: 150px;
max-width: 150px;
width: 120px;
height: 120px;
margin: 100px 10px;
z-index: 2;    
}

/*td{position:relative; z-index:1}*/
#bottomimg{position:absolute; top:100; left:0; z-index:1}
#topimg{position:absolute; top:100; left:0; z-index:2}

/* frog now sitting directly on top of lilypad image*/


/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/